<div class="user-edit">
	<label>
		Avatar Url: 
		{{input value=avatarUrl}}
	</label>
	<label>
		First Name:
		{{input value=firstName}}
	</label>
	<label>
		Last Name: 
		{{input value=lastName}}
	</label>
	<label>
		Email: 
		{{input value=email}}
	</label>
	<label>
		Bio:
		{{textarea value=bio}}
	</label>
	<button {{action "save"}}>Save</button>
	<button {{action "cancel"}}>Cancel</button>
</div>